@model IEnumerable<Model.ImagemImovel>

@foreach (var item in Model)
{
    <a class="link-galeria" href="@Url.Action("GaleriaImovel","Img", new { id = item.Id, thumb = false})" data-fancybox="images" data-caption="Prudente Consultoria Imobiliária">
        <figure>
            <img class="img-galeria" src="@Url.Action("GaleriaImovel","Img", new { id = item.Id, thumb = true})" />
        </figure>
    </a>
}
