
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin .cshtml";
}

@section breadcrumb{
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="@Url.Action("Index","Home", null)">Home</a>
    </li>
    <li class="active">Clientes</li>
}
