
@{
    ViewBag.Title = "Simule seu financiamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="divide20"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="title-section">Financiamento</h3>
            <div class="alert alert-info col-md-10 col-md-offset-1" role="alert">
                <p>Pensando em você, disponibilizamos abaixo, os sites de alguns bancos parceiros para que você faça uma simulação de financiamento.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <a href="https://www.santander.com.br/br/resolva-on-line/simuladores/credito-imobiliario" target="_blank">
                    <img src="~/Content/img/financiamento/banco_santander.gif" alt="Banco Santander" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://www.shopcredit.com.br/shopcredit/br/stsm/stsmcredimobsimulador0.asp?layout=F&retorno=simulado" target="_blank">
                    <img src="~/Content/img/financiamento/banco_bradesco.gif" alt="Banco Bradesco" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://www8.caixa.gov.br/siopiinternet/simulaOperacaoInternet.do?method=inicializarCasoUso" target="_blank">
                    <img src="~/Content/img/financiamento/banco_caixa.gif" alt="Banco Caixa Econômica Federal" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://wwws3.hsbc.com.br/HPB-CHM-SIMULADOR/servlets/HPBCreditoImobiliarioServlet" target="_blank">
                    <img src="~/Content/img/financiamento/banco_hsbc.gif" alt="Banco HSBC" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://ww3.itau.com.br/imobline/pre/simuladores_new/fichaProposta/index.aspx?IMOB_TipoBKL=&ident_bkl=pre" target="_blank">
                    <img src="~/Content/img/financiamento/banco_itau.gif" alt="Banco Itaú" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www42.bb.com.br/portalbb/creditoImobiliario/Proposta,2,2250,2250.bbx" target="_blank">
                    <img src="~/Content/img/financiamento/banco_bb.gif" alt="Banco do Brasil" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://www.banrisul.com.br/brz/link/brzw01hw.asp?css=bob&secao_id=1083" target="_blank">
                    <img src="~/Content/img/financiamento/banco_banrisul.gif" alt="Banco Banrisul" />
                </a>
            </div>
            
            
        </div>
    </div>
</div>


