@model IEnumerable<Model.TipoImovel>

@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("ImovelParaVendaPorTipo","Imovel", new { tipo = item.UrlAmigavel})">
        @Html.DisplayFor(modelItem => item.Nome)
        </a>
    </li>
}
