@{
    ViewBag.Title = "Mapa de Imóveis";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@section css{
    
    <style type="text/css">
        
        .label_content {
            position: relative;
            border-radius: 3px;
            padding: 3px;
            color: #ffffff;
            background-color: #2db1bd;
            font-size: 14px;
            width: 100%;
            line-height: 15px;
            text-align: center;
            border: 1px solid #ffffff;
        }

        .label_content:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            width: 0;
            height: 0;
            border-top: solid 10px #2db1bd;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
        }

        div#modalLoading {
            position: absolute;
            top: 30em;
        }

        .txt-loading {
            font-size: 2.5rem;
            vertical-align: middle;
            position: absolute;
            top: 1.0em;
            margin-left: 1.0em;
        }

        .info-box {
            max-width: 60.0rem;
        }

        .info-box > h4 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .search-filter {
            padding-top: 10px;
            padding-bottom: 0;
            background-color: #f8f8f8;
        }
    </style>
}

<div class="search-filter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 margin20 select-option">
                <section>
                    @Html.DropDownList("TipoContrato", null, "Qual Finalidade?", htmlAttributes: new { @class = "cs-select cs-skin-elastic" })
                </section>
            </div>
            <div class="col-md-3 col-sm-6 margin20 select-option">
                <section>
                    @Html.DropDownList("TipoImovel", null, "Qual Tipo?", htmlAttributes: new { @class = "cs-select cs-skin-elastic" })
                </section>
            </div>
            <div class="col-md-3 col-sm-6 margin20 select-option">
                <section>
                    @Html.DropDownList("Bairro", null, "Qual Bairro?", htmlAttributes: new { @class = "form-control" })
                </section>
            </div>
            <div class="col-md-3 col-sm-6 margin20">
                <button id="btnFiltrarMapa" name="btnFiltrarMapa" type="button" class="btn btn-red btn-lg btn-block"><i class="fa fa-search"></i>Filtrar</button>
            </div>
        </div>
    </div>
</div>
<div id="map-canvas" style="width: 100%; height: 40.0em;"></div>

<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-center">
                <h3>Deseja anunciar seu imóvel aqui? </h3>
            </div>
            <div class="col-sm-4 text-center">
                <a href="@Url.Action("Index", "CadastrarMeuImovel", null)">Anunciar Imóvel Agora</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="txt-loading">Carregando, por favor, aguarde...</span>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>



@section script{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqb3fT3SbMSDMggMEK7fJOIkvamccLrjA&sensor=false"></script><!-- google maps -->
    <script src="~/Scripts/gmaps/richmarker.js"></script>
    <script src="~/Scripts/app/map.js"></script>
}

