@model Model.Imovel
@{
    ViewBag.Title = "Anunciar meu imóvel";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="divide20"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="title-section">Anunciar meu imóvel</h3>
            <div class="alert alert-info col-md-10 col-md-offset-1" role="alert">
                <strong>Em Breve!</strong>
                <p>Aguarde! Em breve será possível anunciar seu imovel diretamente pelo site! Acompanhe-nos para ficar por dentro das novidades.</p>
                <p><a href="@Url.Action("Index","Imovel",null)">Clique aqui para ver nosso imóveis publicado</a>.</p>
            </div>
        </div>
    </div>
</div>


