<link rel="stylesheet" href="@Url.Content("~/ContentAdmin/css/dropzone.css")" />

<p>Arraste e solte as imagens (ou click para selecioná-las), na área demarcada abaixo, para enviar as imagens para o álbum.</p>
<form action="@Url.Action("Upload","ImagemImovel")" method="post" enctype="multipart/form-data" class="dropzone well" id="dropzone">
    <div class="fallback">
        <input name="file" type="file" multiple="" />
    </div>
</form>

<div id="preview-template" class="hide">
    <div class="dz-preview dz-file-preview">
        <div class="dz-image">
            <img data-dz-thumbnail="" />
        </div>

        <div class="dz-details">
            <div class="dz-size">
                <span data-dz-size=""></span>
            </div>

            <div class="dz-filename">
                <span data-dz-name=""></span>
            </div>
        </div>

        <div class="dz-progress">
            <span class="dz-upload" data-dz-uploadprogress=""></span>
        </div>

        <div class="dz-error-message">
            <span data-dz-errormessage=""></span>
        </div>

        <div class="dz-success-mark">
            <span class="fa-stack fa-lg bigger-150">
                <i class="fa fa-circle fa-stack-2x white"></i>

                <i class="fa fa-check fa-stack-1x fa-inverse green"></i>
            </span>
        </div>

        <div class="dz-error-mark">
            <span class="fa-stack fa-lg bigger-150">
                <i class="fa fa-circle fa-stack-2x white"></i>

                <i class="fa fa-remove fa-stack-1x fa-inverse red"></i>
            </span>
        </div>
    </div>
</div>

<script src="~/ContentAdmin/js/dropzone.js"></script>

<script type="text/javascript">
    jQuery(function ($) {

        try {
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone("#dropzone", {
                previewTemplate: $('#preview-template').html(),

                thumbnailHeight: 120,
                thumbnailWidth: 120,

                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 10, // MB
                addRemoveLinks: false,
                dictDefaultMessage:
                '<span class="bigger-150 bolder"><i class="icon-caret-right red"></i> Arraste e Solte suas fotos</span> aqui para enviar \
				    <span class="smaller-80 grey">(ou click)</span> <br /> \
				    <i class="upload-icon icon-cloud-upload blue icon-3x"></i>',
                dictResponseError: 'Erro durante envio do arquivo!',
                thumbnail: function (file, dataUrl) {
                    if (file.previewElement) {
                        $(file.previewElement).removeClass("dz-file-preview");
                        var images = $(file.previewElement).find("[data-dz-thumbnail]").each(function () {
                            var thumbnailElement = this;
                            thumbnailElement.alt = file.name;
                            thumbnailElement.src = dataUrl;
                        });
                        setTimeout(function () { $(file.previewElement).addClass("dz-image-preview"); }, 1);
                    }
                }
            });

            $(document).one('ajaxloadstart.page', function (e) {
                try {
                    myDropzone.destroy();
                } catch (e) {
                }
            });

        } catch (e) {
            alert('Dropzone.js does not support older browsers!');
        }

        myDropzone.on("complete", function (response) {
            //console.log('DROPZONE COMPLETE');
            //console.log(response);
            //console.log(response.xhr);
            var retorno = JSON.parse(response.xhr.response);
            //console.log('retorno');
            fotosMultiUpload.push(retorno.NomeArquivo);
            //checkUpdate();
            //console.log(fotosMultiUpload);
        });


        function checkUpdate() {
            $.ajax({
                url: '@Url.Action("Details", "ImagemImovel", null)',
                cache: true,
                success: function (res) {
                    console.log($("#galeria").html().trim())
                    console.log($("#galeria").html().trim() == '');

                    if ($("#galeria").html().trim() == '') {
                        $("#galeria").html(res);
                    } else {
                        $("#galeria").append(res);
                    }
                }
            });
        }
    });

</script>

